

<nav class="navbar fixed-top navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
   <li class="nav-item  ">
     <a class="nav-link" href="#">Active</a>
   </li>
   <li class="nav-item">
     <a class="nav-link " routerLink="/fixture" routerLinkActive="active">FIXTURE</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/teams" routerLInkActive="active">TEAM</a>
   </li>
   <li class="nav-item">
     <a class="nav-link " routerLink="/ground" routerLInkActive="active" >GROUND</a>
   </li>
 </ul>
 </nav>
 <router-outlet></router-outlet>
